@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";
@config "../../tailwind.config.ts";


body {
    font-family: "Quicksand", sans-serif;
}

.range-sm::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ADEF;
  cursor: pointer;
  box-shadow: 0 0 8px 0 #000000EB;
}

.range-sm::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ADEF;
  cursor: pointer;
  box-shadow: 0 0 8px 0 #000000EB;
}

.play-audio .inner-button-play .inner-icon-pause {
  display: none;
}

.play-audio .inner-button-play.play .inner-icon-play {
  display: none;
}

.play-audio .inner-button-play.play .inner-icon-pause {
  display: block;
}

[song-id].active .inner-button-play {
  background-color: #00ADEF;
  border-color: #00ADEF;
}